@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
/* SNAP SCROLL */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "MorrisRomanBlack";
  color: rgba(93, 64, 55, 1);
  overflow-y: scroll;
  background: rgba(255, 243, 214, 1);
}

/* PLEIN ÉCRAN SECTIONS */
#intro,
.section {
  height: 100vh;
  scroll-snap-align: start;
  background: rgba(255, 243, 214, 1);
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.section.visible {
  opacity: 1;
  transform: translateY(0);
}

#intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
  transform: none;
}

#introVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease; /* utile si tu veux faire disparaître la vidéo */
}


/* SECTIONS */
.section {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 50px;
}

.section.reverse {
  flex-direction: row-reverse;
}

/* TEXTES */
.text {
  flex: 1;
  text-align: center;
}

.text h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.text p {
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
   font-size: 1.5rem;
  color: rgba(93, 64, 55, 1);
  font-family: "Lora", serif;
}

/* IMAGE */
.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

#pointNav {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px; 
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#pointNav.visible{
  opacity: 1;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; 
  position: relative;
}

/* POINT NAV */
.point {
  width: 12px;
  height: 12px;
  background: rgba(184, 134, 11, 1);
  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease;
  transform-origin: center;
}

/* DIAMENt ACTIVE */
.point.active {
  background: rgba(139, 0, 0, 1);
  border-radius: 0;
  transform: rotate(45deg) scale(2); 
}
/* LIGNE */
.ligne {
  width: 2px;
  height: 30px; 
  background:  rgba(184, 134, 11, 1);
}

/* NAV TEXT */
.nav-text {
  position: absolute;
  right: 70px; 
  color: rgba(139, 0, 0, 1);
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* MONTRER TEXTE */
.nav-item .dot.active ~ .nav-text {
  opacity: 1;
}

footer {
  height: 100vh;               
  scroll-snap-align: start;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 243, 214, 1); 
  color: rgba(93, 64, 55, 1);
  font-size: 2rem;
  text-align: center;
}
footer p {
  margin-top: 10px;
  font-size: 1rem;
  color: rgba(93, 64, 55, 1);
}


/* MOBILE */
@media (max-width: 768px) {
  #pointNav {
    display: none;
  }
}

/* TEST TEXT  */
@keyframes fade {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@font-face {
  font-family: "MorrisRomanBlack";
  src: url("Fonts/MorrisRoman-Black.ttf") format("truetype");
} 

/* MOBILE LAYOUT */
@media (max-width: 768px) {
  #pointNav {
    display: none;
  }

  .section,
  .section.reverse {
    flex-direction: column; 
    padding: 40px 20px;    
    gap: 30px;             
  }

  .text {
    order: -1; 
    text-align: center;
  }

  .image {
    justify-content: center;
  }

  .text h2 {
    font-size: 2rem; 
  }

  .text p {
    font-size: 1.2rem; 
    max-width: 100%;   
  }


}